<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ScopedVars</servlet-name>
        <servlet-class>servlet.ScopedVars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeanProperties</servlet-name>
        <servlet-class>servlet.BeanProperties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopulateServlet</servlet-name>
        <servlet-class>servlet.PopulateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Collections</servlet-name>
        <servlet-class>servlet.Collections</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conditionals</servlet-name>
        <servlet-class>servlet.Conditionals</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScopedVars</servlet-name>
        <url-pattern>/scoped_vars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeanProperties</servlet-name>
        <url-pattern>/bean_properties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopulateServlet</servlet-name>
        <url-pattern>/populate_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Collections</servlet-name>
        <url-pattern>/collections</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conditionals</servlet-name>
        <url-pattern>/conditionals</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
